include "binds.kdl"
include "windowRules.kdl"
include "layout.kdl"

spawn-at-startup "waybar"
spawn-at-startup "dunst"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "hyprpaper"
spawn-at-startup "hypridle"
spawn-at-startup "pipewire"
spawn-at-startup "wireplumber"
spawn-at-startup "wl-paste --type text --watch cliphist store"
spawn-at-startup "wl-paste --type image --watch cliphist store"

prefer-no-csd

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}
// Open DMS windows as floating by default
window-rule {
    match app-id=r"org.quickshell$"
    open-floating true
}

input {
    keyboard

    touchpad {
        tap
    }
    mouse
}



