/*
 * rasi Colors
 * Generated with Matugen
 */

* {
    background:     #191113;
    background-alt: #261d1f;
    foreground:     #efdfe1;

    selected:       #ffb1c5;
    active:         #e3bdc5;
    urgent:         #ffb4ab;
}