/*
 * rasi Colors
 * Generated with Matugen
 */

* {
    background:     #1a1110;
    background-alt: #271d1b;
    foreground:     #f1dfdb;

    selected:       #ffb4a5;
    active:         #e7bdb5;
    urgent:         #ffb4ab;
}