/*
 * rasi Colors
 * Generated with Matugen
 */

* {
    background:     #1a110e;
    background-alt: #271e1a;
    foreground:     #f1dfd9;

    selected:       #ffb599;
    active:         #e7beaf;
    urgent:         #ffb4ab;
}